.favorites-title {
  text-align: center;
  margin-bottom: 50px;
}

.favorite-options {
  margin: 0;
}

.remove {
  background-color: #333;
  color: #fff;
}

.remove-dark {
  background-color: #fff;
  color: #333;
}

.heaert-favorite {
  cursor:auto !important;
}

@media (max-width: 768px) {
  .favorite-options {
    margin-left: 20px;
    padding: 0;
  }
}
