.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 30px;
  background-color: #f2f2f2;
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar.dark {
  background-color: #333;
  color: #fff;
  border-color: #888;
}

.navbar h1 {
  font-size: 24px;
  margin: 0;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}
.actions svg {
  cursor: pointer;
}

.navbar-buttons .nav-link {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #e6e6e6;
}

.nav-link.dark {
  color: #fff;
}

.navbar-buttons .nav-link:hover {
  background-color: #ccc;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
}
